<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pvi.jd.gt.personalvirtualinventories">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Controller.OpeningScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.MainScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controller.MealSelection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controller.RecipeScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Controller.GroceryList" />
        <activity
            android:name=".Controller.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".Controller.RegistrationActivity"
            android:label="@string/title_activity_registration" />
        <activity
            android:name=".Controller.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controller.QuestionOne"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controller.QuestionTwo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controller.QuestionThree"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controller.QuestionFour"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controller.QuestionFive"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controller.QuestionSix"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Controller.QuestionMealSelection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controller.Fruits"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".Controller.Dairy"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".Controller.Veggies"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".Controller.Grains"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".Controller.Condiments"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".Controller.Meats"
            android:theme="@style/Theme.AppCompat.Light.Dialog"></activity>
    </application>

</manifest>
