<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pvi.jd.gt.personalvirtualinventories">
    
    <uses-permission android:name="android.permission.Internet"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Controller.MainScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.MealSelection"
            android:label="Select Your Meals!"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Controller.RecipeScreen"></activity>
        <activity android:name=".Controller.GroceryList"></activity>
    </application>

</manifest>